<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeGeneration.Roslyn" version="0.6.1" />
  <package id="CodeGeneration.Roslyn.Attributes" version="0.6.1" />
  <package id="CodeGeneration.Roslyn.BuildTime" version="0.6.1" />
  <package id="FSharp.Core" version="7.0.200" />
  <package id="LanguageExt.CodeGen" version="4.4.8" manuallyInstalled="true" />
  <package id="LanguageExt.Core" version="4.4.8" manuallyInstalled="true" />
  <package id="LanguageExt.FSharp" version="4.4.8" manuallyInstalled="true" />
  <package id="LanguageExt.Parsec" version="4.4.8" manuallyInstalled="true" />
  <package id="LanguageExt.Rx" version="4.4.8" manuallyInstalled="true" />
  <package id="LanguageExt.Sys" version="4.4.8" manuallyInstalled="true" />
  <package id="LanguageExt.SysX" version="4.4.8" manuallyInstalled="true" />
  <package id="LanguageExt.Transformers" version="4.4.8" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.6.2-beta2" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.1.0" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.1.0" />
  <package id="R3" version="1.1.12" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="1.5.0" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Reactive" version="5.0.0" />
  <package id="System.Reflection.Metadata" version="1.6.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" />
  <package id="System.Threading.Channels" version="8.0.0" />
</packages>